@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}
.container {
  position: relative;
  background-color: #9d00ff;
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 1400px;
  margin: 0 auto;
}
.container h1 {
  font-size: 2em;
  color: white;
  cursor: pointer;
}

.container a {
  margin-left: 25px;
  text-decoration: none;
  padding: 6px;
}
.container a:hover {
  color: white;
}
.pages {
  max-width: 1400px;
  margin: 0 auto;
  padding: 50px;
  position: relative;
}
.home {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 100px;
}
.task-desc {
  background-color: #9d00ff;
  border: #f2f2f2;
  border-radius: 10px;
  position: relative;
  align-items: center;
  padding: 20px;
  margin: 20px 0;
}

.task-desc:hover {
  box-shadow: 2px 2px 5px #333333cf;
}

.task-desc h2 {
  font-size: 1.2em;
  margin-bottom: 5px;
  color: white;
}

.task-desc p {
  font-size: 0.9em;
  color: white;
}

.task-desc button {
  background-color: #ffffff00;
  color: white;
  border: 2px solid white;
  border-radius: 20px;
  margin-top: 10px;
  font-size: 0.9em;
  font-weight: bold;
  padding: 5px;
}

.task-desc button:hover {
  background-color: #00000040;
  cursor: pointer;
}

.task-form-recurring, .task-form, .login-form, .signup-form {
  margin: 10px auto;
  padding: 30px;
  border-radius: 30px;
  text-align: center;
  background-color: #9d00ff;
  height: fit-content;
  width: fit-content;
}

.task-form-recurring h2, .task-form h2, .login-form h2, .signup-form h2 {
  position: relative;
  color: white;
  font-size: 1.5em;
  margin-bottom: 20px;
}

.task-form-recurring .freq,.task-form-recurring .tags, .task-form-recurring label, .task-form-recurring-p1 input, .task-form label, .task-form input, .login-form label, .login-form input, .signup-form input, .signup-form label {
  display: block;
}

.task-form-recurring label, .task-form label, .login-form label, .signup-form label {
  font-size: 1.2em;
  color: white;
  font-weight: bold;
}

.task-form-recurring input, .task-form input, .login-form input, .signup-form input {
  margin: 10px auto;
  padding: 5px;
  border: rgb(227, 227, 227) solid 5px;
  border-radius: 10px;
}

.task-form-recurring button, .task-form button, .login-form button, .signup-form button {
  display: block;
  margin-top: 30px;
  font-size: 1.2em;
  background-color: white;
  border-radius: 50px;
  padding: 10px;
  border: 2px solid white;
  font-weight: bold;
  background-color: #9d00ff;
  color: white;
  cursor: pointer;
  margin: 0px auto;
  margin-top: 20px;
}
.task-form button:hover, .login-form button:hover, .signup-form button:hover {
  background-color: #3f0065;
}

.error {
  border-radius: 15px;
  padding: 20px;
  border: white solid;
  margin-top: 10px;
  color: white;
}

.task-desc span{
  font-size: 1em;
  margin: 10px;
  padding: 5px;
  color: white;
  font-weight: bold;
  border: 2px solid white;
  border-radius: 50px;
  cursor: pointer;
}

.task-desc .delete {
  position: absolute;
  top: 10px;
  right: 10px;
}

.task-desc .edit {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.task-desc span:hover {
  background-color: rgba(0, 0, 0, 0.428);
}

.no-tasks h1 , .page-not-found h1{
  font-size: 100px;
  text-align: center;
  margin-top: 100px;
  color: #9d00ff;
  font-weight: bolder;
}

.no-tasks p , .page-not-found p{
  text-align: center;
  font-size: 50px;
}

.task-edit-form {
  position: relative;
}

.task-edit-form input {
  display: block;
  margin-bottom: 5px;
  color: white;
  background-color: #00000066;
  border: 2px white solid;
  padding: 5px;
  border-radius: 50px;
}

.task-edit-form .h2-upd{
  padding: 10px;
  font-size: 1.2em;
  font-weight: bolder;
}

.task-edit-form button{
  position: absolute;
  font-size: 1.1em;
  padding: 5px;
  color: white;
  font-weight: bold;
  border: 2px solid white;
  border-radius: 50px;
  cursor: pointer;
  background-color: #00000000;
  top: 0;
  right: 0;
}

.task-edit-form button:hover {
  background-color: rgba(0, 0, 0, 0.428);
}

.auth-links {
  font-size: 0.5em;
  position: absolute;
  right: 25px;
  
}

.auth-links a {
  display: inline-block;
  border: 2px white solid;
  border-radius: 50px;
  padding: 10px;
}

.auth-links a:hover {
  background-color: #3f0065;
}

.auth-links button {
  color: white;
  background-color: #9d00ff;
  border: 2px white solid;
  border-radius: 50px;
  padding: 10px;
  font-weight: bolder;
  font-size: 2em;
}

.auth-links button:hover {
  background-color: #3f0065;
}

.auth-links span {
  color: white;
  background-color: #9d00ff;
  padding: 10px;
  font-weight: bolder;
  font-size: 2em;
  margin-right: 20px;
}

.signup-form p {
  width: 50%;
  text-align: center;
  color: white;
  margin: auto;
  font-size: 0.8em;
}

.signup-form {
  min-width: 25%;
  max-width: 300px;
}

.menu-container {
  position: relative;
  background-color: #3f0065;
  padding: 10px;
  display: flex;
  align-items: center;
  max-width: 1400px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
  height: fit-content;
}

.menu-container a {
  margin-left: 40px;
  font-size: 0.9em;
  text-decoration: none;
  display: inline-block;
  border: 2px white solid;
  border-radius: 50px;
  padding: 10px;
  color: white;
  font-weight: bolder;
}
.menu-container a:hover {
  background-color: #9d00ff;
}

.calendar {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 100px;
  position: relative;
}

.task-popup-wrapper {
  position: fixed;
  z-index: 10;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  background-color: #000000b5;
  align-items: center;
  justify-content: center;
}

.task-popup {
  width: 50%
}

.task-form-recurring-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  background: #9d00ff;
  color: white;
  padding: 20px;
}
.task-form-recurring button{
  display: block;
  margin: 10px auto;
  font-size: 1.5em;
}

.task-form-recurring h2 {
  font-size: 2em;
  font-weight: bolder;
  padding: 0 10px;
  width: 75%;
  text-align: center;
  margin: 0 auto;
}

.task-form-recurring-content label {
  text-align: right;
  margin-right: 10px;
}

.task-form-recurring-content input, .task-form-recurring-content .freq, .task-form-recurring-content .to  {
  text-align: left;
  margin-left: 10px;
}

.task-form-recurring-content .to {
  margin-left: 50px;
}

.menubar {
  position: sticky;
  width: 100%;
  top: 0;
  z-index: 10;
}

.note {
  text-align: center;
  border: 2px rgb(255, 123, 0) solid;
  background-color: rgba(255, 123, 0, 0.449);
  padding: 10px;
  margin: auto;
  width: fit-content;
  border-radius: 20px;
}

.searchbar {
  background-color: #9d00ff;
  padding: 30px;
  text-align: center;
  border-radius: 20px;
  margin-top: 10px
}
.searchbar input {
  display: block;
  border: rgb(227, 227, 227) solid 5px;
  border-radius: 50px;
  width: 75%;
  margin: 10px auto;
  font-size: 1.2em;
  padding: 5px;
}

.searchbar .filter-sort {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border: 5px solid black;
  font-weight: bolder;
  background-color: white;
  border-radius: 20px;
}

.userprofile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.userprofile h1 {
  font-size: 3em;
  font-weight: bolder;
  margin-bottom: 30px;
  color: #9d00ff;
}

.userprofile h2 {
  align-items: center;
  margin-bottom: 20px;
}

.userprofile h2 b {
  color: #9d00ff;
  margin-right: 10px;
}

.userprofile h2 span{
  font-size: 1.1em;
  padding: 7px;
  color: white;
  font-weight: bold;
  border-radius: 50px;
  cursor: pointer;
  background-color: #9d00ff;
  margin-left: 100px;
}

.userprofile h2 span:hover {
  background-color: #3f0065;
}

.editProfile {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.editProfile form {
  align-items: center;
  margin-bottom: 20px;
}

.editProfile label {
  font-size: 1.5em;
  font-weight: bolder;
  color: #9d00ff;
  margin-right: 10px;
}

.editProfile input {
  font-size: 1.5em;
  padding: 10px;
  color: white;
  font-weight: bold;
  border-radius: 50px;
  cursor: pointer;
  background-color: #9d00ff;
  border: 2px solid #3f0065;
}

.editProfile input:focus {
  background-color: #3f0065;
}

.editProfile button {
  font-size: 1.6em;
  padding: 7px;
  color: white;
  font-weight: bold;
  border-radius: 50px;
  cursor: pointer;
  background-color: #9d00ff;
  margin-left: 100px;
  border: none;
}

.editProfile button:hover {
  background-color: #3f0065;
}

.userprofile .change-pass {
  color: white;
  background-color: #9d00ff;
  padding: 10px;
  border-radius: 50px;
  font-size: 1.2em;
  width: fit-content;
  border: #3f0065 solid 2px;
  cursor: pointer;
}

.userprofile .change-pass:hover {
  background-color: #3f0065;
}

.userprofile .pass-form {
  
}